@font-face {
    font-family: 'Ponymaker';
    src: url('./assets/Ponymaker-nzAg.ttf');
}

body {
    background-color: lavender;
    text-align: center;
    margin: 0;
    padding: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	gap: 10px;
}

.error {
    font-size: 60vw;
    font-family: 'Ponymaker', sans-serif;
    position: relative; /* Enable positioning for animation */
    animation: moveErrorToCenter 0.3s ease-in-out; /* Apply animation */
}

.message {
    font-size: 10vw;
    font-family: Arial, Helvetica, sans-serif;
	position: relative; 
    animation: moveOopsToCenter 0.2s ease-out; 
}

@media (min-width: 600px) {
    .message {
        font-size: 5vw;
    }
    .error {
        font-size: 400px;
		margin-bottom: -100px;
    }
}

/* Animation to move .error from right to center */
@keyframes moveErrorToCenter {
    from {
        transform: translateX(100%); /* Start off-screen to the right */
    }
    to {
        transform: translateX(0); /* End at the center */
    }
}

@keyframes moveOopsToCenter {
	from {
		transform: translateY(100%);
	}
	to {
        transform: translateX(0);
    }
}